
.headerContainer {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    height: 100px;
    margin: 0px 0px;
    /* justify-content: center; */
    align-items: center;
}

.logoImageDiv {
    padding-left: 100px;

}

.otherPagesLink {
    width: 500px;
    background-color: #F5F5F5;
    border-radius: 40px;
    /* height: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-left: 480px;
    padding: 20px 52px;
}

.otherPagesLink > a {
    text-decoration: none;
    color: black;
}

.sellingActionButtonDiv {
    padding: 25px;
    margin-left: 80px;
}

.vendorHeaderContainer {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    height: 90px;
    margin: 0px 0px;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0px 4px 8px 0px #f8f8fa;
}

.vendorLogoImageDiv {
    padding-left: 100px;
}


.headerProfileContainer {
    display: flex;
    width: 180px;
    height: 90px;
    /* background-color: #F3F3F9; */
    margin-top: -8px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    gap:10px
}

.profileTextHeader {
    color: #495057;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.profileText {
    color: #9599AD;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}